@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5rem 1.6rem 5rem 1.6rem;
}

html {
  font-size: 45%;
  font-family: "Montserrat";
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  padding-bottom: 5px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

h1 span {
  font-size: 3rem;
  font-weight: 400;
}

form {
  /*&border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 70%;
}

.form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-label input {
  width: 100% !important;
  padding: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 0.7rem;
}

.form-label input::placeholder {
  font-family: "Montserrat";
}

.btn-add {
  font-family: "Montserrat";
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 1.6rem 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 16px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 0.6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-white {
  color: white;
}

.row-gap {
  row-gap: 8rem;
}

.box-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-delete {
  width: 30px;
  height: 30px;
}
.text-item {
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 62.5%;
  }

  .col-border {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
  }
}

.col-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  padding-bottom: 40px;
}
